:root {
    --defaultColor: #e62277;
}

/*General*/
html,
body {
    position: relative;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-image: url("/img/cancun.jpg");
    background-size: 100%;
}

/*Panel*/
.panel {
  margin: auto;
  width: 30%;
  margin-top: 2rem;
  align: center;
}
.panel img {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}

/*Header with navbar*/
header {
    position: sticky;
    top: 0;
    background-color: var(--defaultColor);
    padding: 1rem;
    width: 100%;
    height: 7rem;
}
#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

/*Main div*/
#main {
    flex-grow: 2;
}
#main .info {
    font-style: italic;
}
.mainButtons {
    width: 100%;
    display: flex;
    justify-content: inherit;
    flex-wrap: wrap;
}
.mainButtons > button {
    margin: 1rem;
}

/*Components inside the main div*/
.description {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: center;
    height: 100%;
}
.description h3 {
	color: var(--defaultColor);
	text-align: center;
    margin-bottom: 3rem;
}
.description button {
    border: 1px solid var(--defaultColor);
    background: var(--defaultColor);
    border-radius: 0;
    color: #fff;
}
.description h4 {
  display: inline-block;
}

/*ManageReservation Page specific*/
.manageButtons {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: inherit;
    flex-wrap: wrap;
}
.manageButtons > button {
    margin: 1rem;
}

/*Forms*/
form {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
form button {
  margin-bottom: 2rem;
  float: right;
}
form input {
  margin-bottom: 2rem;
}
#reservationID,
#stay {
  width: 100%;
}
#guests {
  width: 6rem;
  overflow: hidden;
}

/*Modal*/
.modal-content {
    border-radius: 0;
    padding: 2rem;
}
.modal-header {
    border-bottom: none;
}
.modal h3 {
    color: var(--defaultColor);
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
}
.modal #reservationID {
  width: 70%;
  overflow: hidden;
  display: inline-block;
}
.modal .close {
    background: #c0c3c8;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
    font-weight: normal;
    height: 30px;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 26px;
    text-align: center;
    top: 26px;
    width: 30px;
}
.modal .close span {
    position: relative;
}
.modal .form-control,
.modal .btn {
    min-height: 45px;
}
.modal .btn {
    background-color: #1da098;
    border: none;
    color: #fff;
    min-width: 130px;
    transition: all 0.4s;
}
