<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Reservation Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body onload="getCalendar()">

<div id="app">
    <header class="header container-fluid">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/">Home</a>
        </nav>
    </header>

    <section id='main'>
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="reservationForm" th:action="@{/processReservation}" th:object="${reservationDTO}"
                      method="post">
                    <div class="description">
                        <label for="stay">Stay Period</label>
                        <input type="text" id="stay" th:field="*{stay}" class="form-control"
                               th:value="${reservationDTO.stay}" autocomplete="off" required/>
                        <label for="guests">Number of Guests</label>
                        <input type="number" min="1" max="8" id="guests" th:field="*{guests}"
                               th:value="${reservationDTO.guests}" class="form-control" required/>
                        <label for="reservationID">ID</label>
                        <input type="number" id="reservationID" th:field="*{id}" class="form-control"
                               th:value="${reservationDTO.id}" readonly required/>
                    </div>
                    <div class="manageButtons">
                        <button type="submit" name="update" value="update" class="btn btn-success"><i
                                class="glyphicon glyphicon-edit">
                            Update
                        </i></button>
                        <button type="submit" name="delete" value="delete" class="btn btn-danger" formnovalidate
                                onclick="return confirm('Are you sure to delete your reservation?')"><i
                                class="glyphicon glyphicon-trash">
                            Delete
                        </i></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>